<!-- <ion-pane ng-controller="CardsCtrl">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Ionic Blank Starter</h1>
  </ion-header-bar>
  
  <swipe-cards>
    <swipe-card on-card-swipe="cardSwiped()" id="start-card">
      Swipe down for a new card
    </swipe-card>
    <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
      <div ng-controller="CardCtrl">
        <div class="title">
          {{card.title}}
        </div>
        <div class="image">
          <img ng-src="{{card.image}}">
        </div>
        <div class="button-bar">
          <button class="button button-clear button-positive" ng-click="doAnything()">Like</button>
          <button class="button button-clear button-positive" ng-click="doAnything()">Disklike</button>
        </div>
      </div>
    </swipe-card>
  </swipe-cards>
  
</ion-pane> -->